<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Earth</h2>
    <img src="<%=   planetEarth.image  %>">
    <p><%=   planetEarth.description  %></p>

    <h3>Planet facts</h3>

    <div class="planetFacts">
    <p><strong>Distance from the Sun:</strong> <%= planetEarth.distanceFromSun %> miles</p>
    <p><strong>Year length:</strong> <%= planetEarth.yearLength %> Earth days</p>
    <p><strong>Radius:</strong> <%= planetEarth.radius %> miles</p>
    <p><strong>One Earth day at this planet:</strong> <%= planetEarth.oneEarthDay %> hours</p>
    <p><strong>Number of moons:</strong> <%= planetEarth.moons %></p>
    </div>

    <p>
        <a href="<%= planetEarth.websiteLink %>" target="_blank">
            Learn more
        </a>
    </p>

    <%- include('partials/footer.ejs') %>
</body>
</html>
