<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <h1>The Solar System</h1>
     <%- include('partials/nav.ejs') %>
    <h2>Planet Pluto</h2>
    <img src="<%=   planetPluto.image  %>">
    <p><%=   planetPluto.description  %></p>

    <h3>Planet facts</h3>

    <div class="planetFacts">
    <p><strong>Distance from the Sun:</strong> <%= planetPluto.distanceFromSun %> miles</p>
    <p><strong>Year length:</strong> <%= planetPluto.yearLength %> Earth days</p>
    <p><strong>Radius:</strong> <%= planetPluto.radius %> miles</p>
    <p><strong>One Earth day at this planet:</strong> <%= planetPluto.oneEarthDay %> hours</p>
    <p><strong>Number of moons:</strong> <%= planetPluto.moons %></p>
    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>